@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,500;0,900;1,100;1,500;1,900&display=swap');

:root{
    --terra: #964b00;
    --agua:#0ff;
    --fogo:#f22;
    --ar:beige;
}

*{
    font-family: 'poppins';
}
.cTerra, .Hterra:hover{
    color: var(--terra);
}
.cAgua, .Hagua:hover{
    color: var(--agua);
}
.cFogo, .Hfogo:hover{
    color: var(--fogo);
}
.cAr, .Har:hover{
    color: var(--ar);
}
.sec{
    width: 100%;
    min-height: 100vh;
}
#secElementos{
    background: url(../imagens/greenLamp_md.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
    background-position: center;
    transition: ease 500ms;
}
.Har:active#secElementos{
    background: url(../imagens/GreenTech_sm.png);
}
a{
    text-decoration: none;
    color: inherit;
}
.elementos{
    color: white;
}
.elementos a h1{
    transition: 500ms;
}
.elementos a h1:hover{
    font-size: 3.5rem;
}