@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Poppins:ital,wght@0,100;0,500;0,900;1,100;1,500;1,900&display=swap');

:root{
    --terra: #964b00;
    --agua:#0ff;
    --fogo:#f22;
    --ar:beige;
}
.bg-terra{
    background-color: #964b0044;
}
.bg-agua{
    background-color: #00ffff44;
}
.bg-fogo{
    background-color: #ff222244;
}
.bg-ar{
    background-color: #f5f5dcff;
}

*{
    font-family: 'poppins';
}
.cTerra, .Hterra:hover{
    color: var(--terra);
}
.cAgua, .Hagua:hover{
    color: var(--agua);
}
.cFogo, .Hfogo:hover{
    color: var(--fogo);
}
.cAr, .Har:hover{
    color: var(--ar);
}
.sec{
    width: 100%;
    min-height: 100vh;
}
.bgImgSetup{
    background-repeat: no-repeat !important;
    background-size: 100% !important;
    background-size: cover !important;
    background-position: center !important;
    transition: ease 100ms !important;
    background-attachment: fixed !important;
}
.imgTerra{
    background: url(../imagens/menu/terra_md.jpg);
}
.imgAgua{
    background: url(../imagens/menu/agua_md.jpg);
}
.imgFogo{
    background: url(../imagens/menu/fogo_md.jpg);
}
.imgAr{
    background: url(../imagens/menu/ar_md.jpg);
    background-position: bottom !important;
}
.imgNewsletter{
    background: url(../imagens/newsletter.jpg);
    background-position: bottom !important;
}
a{
    text-decoration: none;
    color: inherit;
}
.elementos{
    color: white;
}
.elementos a h1{
    transition: 500ms;
}
.elementos a h1:hover{
    font-size: 3.5rem;
}